body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:5779px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6163px;
  height:9155px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:-192px;
  top:-70px;
  width:6163px;
  height:9155px;
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
